body{
    width: 1000px;
    margin:auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}
section.skills{
    margin: 0px;
    grid-column: 2/3;
    grid-row: 3/4;
}
section.language{
    margin: 0px;
    padding-top: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}
img.avatar{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid;
    border-radius: 100px;
}
section{
    grid-column: 1/2;
    margin: 15px;
}
section h3{
    font-weight: normal;
}
section div{
    margin: 15px;
}
h2{
    font-style: italic;
}
ul>li{
    margin-bottom: 4px;
}